Release/
.cproject
.settings/de.innot.avreclipse.core.prefs
doc/doxygen/doxygen
doc/doxygen/mathjax-2.2
doxygen - index.html alias
.project
.settings
doc/uml/.vpprefdata/
.lock
*.vpp.working
*.vpp~*
src/lib/rfm12lib/doc
src/lib/rfm12lib/examples
